registry=http://localhost:4873/
//localhost:4873/:_auth=YWRtaW46YWRtaW4=
strict-ssl=false
email=dev@localhost.com
always-auth=true
init-author-name=dev
init-author-email=dev@localhost.com
//http://localhost:4873/:_authToken=Mjg1YTE0Zjk4ZTI0NjY5NmZjZDYxOWI0MTlkMTdmNzk6OTdhYjE1MDc0YmViZTMxNTViMGJlMQ==

